[defaults]
inventory = ./inventory/inventory.ini
host_key_checking = False
retry_key_checking = False
gathering = smart
# fact_caching = jsonfile
# fact_caching_connection = /tmp/ansible_facts
# fact_caching_timeout = 86400
roles_path= ./roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True

[log]
path = ./ansible.log
level = info
